{% extends 'layout.html' %}
{% load static %}
{% block body %}
    {% if not invaild %}
        <h1>Chart: {{code}} {{name}}</h1>
        <h1>Term: {{term}}</h1>
        <img src="{% url 'plot' code term %}">
        {% for term in terms.keys %}
            <a href="{% url 'index' %}?term={{term}}&code={{code}}">{{term}}</a>
        {% endfor %}
    {% else %}
        <h1>The code: {{code}} is invaild</h1>
    {% endif %}
    <form action="{% url 'index' %}" method="GET">
        <input name="code" type="number", value={{code}}>
        <input type=submit value="update graph">
    </form>
    <a href="{% url 'search' %}">企業名から検索</a>
{% endblock %}

